// presets
// -------

a
a:active
  text-decoration none
  color blue
  &:hover
   color gray

head, style, script
  display none!important

*
  box-sizing border-box

// layout
// ------

html
  background whitesmoke
  color black
  font-family 'proxima-nova', Helvetica, Arial, san-serif
  flex-flow column
  display flex

body
  display flex
  flex-flow column
  min-height 500px
  padding-left 20px
  padding-right 20px
  margin 0

  > *
    display flex

  > main
  > footer
  > header
    padding-top 20px
    padding-bottom 20px
    margin-left auto
    margin-right auto
    width 100%
    max-width 700px

  > main
    min-height @min-height
    margin-top 60px
    border-style solid
    border-color rgba(black, .25)
    border-width 0
    flex-flow column

// header
// ------

body > header
  fixed top left
  width 100%
  max-width inherit
  padding-left 20px
  padding-right 20px
  border-bottom 1px solid #ccc
  background linear-gradient(top, white, rgba(white, .9))
  z-index 10
  line-height 28px
  > *
    flex 2 1 50%

  .brand
    font-size 28px
    justify-content flex-start
    &:after
      content "···"
      font-weight bold
      letter-spacing 5px
      color dimGray

  .account
    justify-content flex-end
    span
      float right

// forms
// -----

form
  flex-flow column
  display flex

  label
    color gray
  input:focus ~ label
    color blue

  .form-group
    display block
    margin-bottom 10px
    &.inline
      text-align center
      label *
        display inline-block
        width 100px
        margin-right @margin-bottom
      span
        text-align right

  // inputs
  // ------

  input
    padding 5px
    display inline-block
    box-sizing content-box
    box-shadow inset 0 2px 0px -1px #ddd
    border 1px solid #ccc

    font-size 80%
    line-height normal

    transition all

  button
  input
  select
  textarea
    vertical-align baseline
    text-transform none

    &[type="submit"]
      float right

    &[type="submit"]
    &[type="button"]
      cursor pointer

    &:focus
      outline none

// tables
// -----

table
  width 100%
  border-collapse collapse
  border-spacing 0
  empty-cells show
  border 1px solid #cbcbcb
  th
  td
    font-size inherit
    margin 0
    overflow visible
    padding 6px 12px
    &:first-child
      border-left-width 0
  thead
    background blue
    color white
    text-align left
    vertical-align bottom
  td
    background-color transparent
    border-bottom 1px solid #cbcbcb
  tbody tr
    display table-row
    vertical-align inherit
    border-color inherit
    &:hover
      background-color whitesmoke
      // &:nth-child(2n-1) td
      //   background-color #fefefe

// sections
// --------

section
  background white
  border 1px solid #ccc
  padding 20px
  margin-bottom 20px
  display flex
  flex-flow column

  > header
    margin-top 0
    font-size $font-md
    line-height 20px
    margin-bottom 20px
    text-transform uppercase
    font-weight 900
    letter-spacing 1px

  > .content
    display flex
    flex-flow row

    > .aside
      margin-top 0

s = 50px
$unit = 10px

.game
  for r in 1...20
    &[data-width={'"' + r + '"'}]
      width ((r * s) + $unit)
  for r in 1...20
    &[data-height={'"' + r + '"'}]
      height ((r * s) + $unit)
  width 100%
  margin-left auto
  margin-right auto
  margin-bottom 20px
  .board
    position relative
    height 100%
    background rgba(white, .5)
    margin-left 5px
    // box-shadow -2px 0 10px rgba(black, .05)

.edges
  min-height 200px
  relative top left
  display inline-block
  background rgba(white, .6)


.edge
  position absolute
  &[data-type="v"]
    transform translate(-(s / 2), (s / 2)) rotate(90deg)
  for r in 1...20
    &[data-row={'"' + r + '"'}]
      top (r * s)
  for c in 1...20
    &[data-col={'"' + c + '"'}]
      left (c * s)
  width s
  height $unit
  padding 0 ($unit / 2)
  box-sizing border-box
  background #eee
  border-width 0 6px
  border-color rgba(white, .7)
  border-style solid
  transition all .2s linear
  box-shadow 0 0 0px 1px rgba(black, .2)
  &:hover
    box-shadow 0 0 0 1px rgba(black, .6)
  &:before
    content ""
    absolute top right -10px
    box-sizing border-box
    content ""
    width s + 8px
    height $unit
    background white
    z-index 2

  form
    position relative
    display block
    size 100%
    &.ng-hyper-loading .inner
      display none
    .inner
      cursor pointer
      size 100%
  .color
    absolute top left
    display block
    size 100%
    z-index 3

.panels
  min-height 200px
  relative top left
  display inline-block

.panel
  position absolute
  for r in 1...20
    &[data-row={'"' + r + '"'}]
      top (r * s)
  for c in 1...20
    &[data-col={'"' + c + '"'}]
      left (c * s)
  width: s
  height: s

.color
  display block
  size 100px

// chat
// ----

.messages
  background white
  padding 20px

  form
    flex-flow row
    input[type="text"]
      flex 1 1 auto
    .form-group
      margin-bottom 0
      flex 1 1 auto
      div
        display flex
        flex 1 1 auto
      input
        display flex
        flex 1 1 auto

.message
  margin-top 0

  span
    line-height $font-md

  .author
    background #ccc
    color white
    border-radius 3px
    padding 3px
    min-width 100px
    text-align center
    margin-right 10px
    display inline-block
    &:before
      content " "

  .date
    color #ccc
    float right
    text-align right