
section.game-create(data-hyper=".games")
  header create game

  form(data-hyper-form="games.create")
    .form-group.inline(data-ng-repeat="input in inputs")
      label
        span(data-hyper-bind="input.name")
        input(data-hyper-input="input")
    input(type="submit")

section.game-current(data-hyper=".games")
  header current games

  table
    thead
      th #
      th name
      th owner
      th players
    tbody
      tr.game(data-ng-repeat="game in games")
        td: span {{$index + 1}}
        td: a(data-hyper-link="/games/:game",
              data-hyper-bind="game.name")
        td: a(data-hyper-link="/users/:game.owner",
              data-hyper-bind="game.owner.first-name")
        td(data-hyper="game.players")
          a(data-ng-repeat="player in players",
            data-hyper-link="/users/:player",
            data-hyper-bind="player.first-name")
